certifi==2020.12.5
chardet==4.0.0
chromedriver-py==88.0.4324.27
click==7.1.2
colorama==0.4.4
darkdetect==0.1.1
Flask==1.1.2
idna==2.10
inflect==5.0.2
itsdangerous==1.1.0
Jinja2==2.11.2
Js2Py==0.70
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.4
pandas==1.2.0
pycryptodomex==3.9.9
pyjsparser==2.7.1
PyJWT==2.0.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
selenium==3.141.0
six==1.15.0
twilio==6.50.1
tzlocal==2.1
urllib3==1.26.3
Werkzeug==1.0.1
wincertstore==0.2
